{% extends 'blog/base.html' %} {% load static %} {% block content %}
<!-- Start of Main Content -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <!-- Navigation Buttons -->
      <a class="btn btn-outline-secondary mb-3" href="{% url 'index' %}"
        >Go Back</a
      >
      {% if request.user.username == object.author.username %}
      <!-- Display 'Delete' Button for the Author -->
      <a
        class="btn btn-outline-secondary mb-3"
        href="{% url 'delete_article' object.pk %}"
        >Delete this post</a
      >
      {% endif %}

      <!-- Article Content Card -->
      <div class="card">
        <div class="card-body">
          <!-- Display Article Title -->
          <h1 class="card-title">{{ object.title }}</h1>
          <!-- Display Author and Posting Date -->
          <p class="text-muted small">
            Posted by {{ object.author.username }} on {{ object.date }}
          </p>

          {% if object.image %}
          <!-- Display Article Image if Available -->
          <img
            src="{{ object.image.url }}"
            alt="{{ object.title }}"
            class="img-fluid mb-3"
            style="max-width: 100%; height: auto"
          />
          {% endif %}

          <div class="mt-4">
            <!-- Display Article Content (Note: 'safe' is used for rendering HTML content) -->
            {{ object.content|safe }}
          </div>
        </div>
      </div>

      <!-- Author Information -->
      <div class="mt-4">
        <div class="user-profile">
          {% if object.author.userprofile.profile_picture %}
          <!-- Display Author's Profile Picture -->
          <img
            src="{{ object.author.userprofile.profile_picture.url }}"
            alt="{{ object.author.username }}"
            class="user-profile-image img-fluid rounded-circle"
            style="max-width: 30px; max-height: 30px"
          />
          {% endif %}
          <!-- Display Author's Username -->
          <span class="text-muted small">{{ object.author.username }}</span>
        </div>
      </div>

      <!-- Like and Unlike Buttons -->
      <div class="mt-4">
        <p class="small">
          {% if object.likes.count == 1 %}
          <!-- Display Like Count for Singular Like -->
          {{ object.likes.count }} person likes this post {% else %}
          <!-- Display Like Count for Multiple Likes -->
          {{ object.likes.count }} people like this post {% endif %}
        </p>
        {% if request.user.is_authenticated %} {% if liked_by_user %}
        <!-- Unlike Button if User Liked the Post -->
        <form method="POST" action="{% url 'like_article' object.id %}">
          {% csrf_token %}
          <button class="btn btn-outline-secondary mb-3">
            <i class="bi bi-heart-fill"></i> Unlike this post
          </button>
        </form>
        {% else %}
        <!-- Like Button if User Hasn't Liked the Post -->
        <form method="POST" action="{% url 'like_article' object.id %}">
          {% csrf_token %}
          <button class="btn btn-primary">
            <i class="bi bi-heart"></i> Like this post
          </button>
        </form>
        {% endif %} {% else %}
        <!-- Prompt to Login for Likes -->
        <p class="small">
          Please <a href="{% url 'login' %}">login</a> to like this post.
        </p>
        {% endif %}
      </div>

      <!-- Comments Section -->
      <div class="mt-4">
        <h2>Comments</h2>
        {% for comment in object.comment_set.all %}
        <!-- Display Each Comment -->
        <div class="card mb-3">
          <div class="card-body">
            <div class="user-profile">
              {% if comment.author.userprofile.profile_picture %}
              <!-- Display Commenter's Profile Picture -->
              <img
                src="{{ comment.author.userprofile.profile_picture.url }}"
                alt="{{ comment.author.username }}"
                class="user-profile-image img-fluid rounded-circle"
                style="max-width: 20px; max-height: 20px"
              />
              {% else %}
              <!-- Default Profile Picture if None Provided -->
              <img
                src="{% static 'picture_defaut/defaut.png' %}"
                alt="{{ comment.author.username }}"
                class="user-profile-image img-fluid rounded-circle"
                style="max-width: 20px; max-height: 20px"
              />
              {% endif %}
              <!-- Display Commenter's Username -->
              <span class="text-muted small"
                >{{ comment.author.username }} said:</span
              >
            </div>
            <!-- Display Comment Content -->
            <p class="card-text">{{ comment.content }}</p>
            <!-- Display Comment Posting Date -->
            <p class="text-muted small">Posted on {{ comment.created_date }}</p>
          </div>
        </div>
        {% endfor %} {% if request.user.is_authenticated %}
        <!-- Comment Form for Authenticated Users -->
        <div class="comment-form mt-4">
          <h3>Add a Comment</h3>
          <form method="post">
            {% csrf_token %}
            <!-- Display Comment Form Fields -->
            {{ comment_form.as_p }}
            <!-- Submit Button for Posting a Comment -->
            <button class="btn btn-primary" type="submit">
              <ion-icon name="prism-outline"></ion-icon>
            </button>
          </form>
        </div>
        {% else %}
        <!-- Prompt to Login for Commenting -->
        <p class="small">
          Please <a href="{% url 'login' %}">login</a> to post comments.
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- End of Main Content -->
{% endblock %}
