<!-- nav.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Brand Logo and Toggle Button -->
    <a class="navbar-brand" href="{% url 'index' %}"
      ><ion-icon name="chatbubbles-outline"></ion-icon>Diskus</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links and Search Bar -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Featured Articles Link -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'featured' %}"
            ><ion-icon name="swap-vertical-outline"></ion-icon>Featured</a
          >
        </li>

        <!-- Search Bar -->
        <li class="nav-item d-flex justify-content-center">
          <form
            class="d-flex mx-2"
            method="get"
            action="{% url 'search_articles' %}"
          >
            <div class="input-group">
              <input
                class="form-control form-control-sm me-2 rounded-pill border-0 shadow-sm"
                type="search"
                name="q"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-primary btn-sm rounded-pill border-0 shadow-sm"
                type="submit"
              >
                Search
              </button>
            </div>
          </form>
        </li>

        <!-- User Profile Link -->
        {% if request.user.is_authenticated and request.user.userprofile %}
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            href="{% url 'user_profile' request.user.id %}"
          >
            {% if request.user.userprofile.profile_picture %}
            <img
              src="{{ request.user.userprofile.profile_picture.url }}"
              alt="{{ request.user.username }}"
              class="user-profile-image img-fluid rounded-circle me-1"
              style="
                width: 30px;
                height: 30px;
                object-fit: cover;
                border: 2px solid #007bff;
              "
            />
            {% else %}
            <div
              class="user-profile-default rounded-circle me-1"
              style="
                width: 30px;
                height: 30px;
                background-color: #007bff;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-weight: bold;
              "
            >
              {{ request.user.username|slice:":1" }}
            </div>
            {% endif %}
            <span class="d-none d-md-block">{{ request.user.username }}</span>
          </a>
        </li>
        {% endif %}

        <!-- Sign Out, Sign In, and Sign Up Links -->
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <ion-icon name="log-out-outline" class="me-1"></ion-icon>Sign Out
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">
            <ion-icon name="log-in-outline" class="me-1"></ion-icon>Sign In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">
            <ion-icon name="person-add-outline" class="me-1"></ion-icon>Sign Up
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
