{% extends 'blog/base.html' %} {% block content %}
<!-- Main Content Container -->
<div class="container my-5">
  <!-- Page Title for Search Results -->
  <h1 class="display-4 fw-bolder">Search Results</h1>
  <!-- Display Search Query -->
  <p class="lead text-muted">
    Showing search results for: "{{ request.GET.q }}"
  </p>

  <!-- Display Search Results as Cards -->
  <div class="row">
    {% for article in articles %}
    <!-- Individual Article Card -->
    <div class="col-md-6 col-12 my-4">
      <div class="card">
        <!-- Display Article Image if Available -->
        {% if article.image.url %}
        <img
          src="{{ article.image.url }}"
          alt="{{ article.title }}"
          class="card-img-top"
          style="max-width: 100%; height: auto"
        />
        {% endif %}
        <div class="card-body">
          <!-- Article Title -->
          <h3 class="card-title fw-bold">{{ article.title }}</h3>
          <!-- Author Information -->
          <p class="card-text text-muted">
            Posted by {{ article.author.username }}
          </p>
          <!-- Likes Count -->
          <p class="card-text text-muted">
            {% if article.likes.count == 1 %} {{ article.likes.count }} person
            likes this post {% else %} {{ article.likes.count }} people like
            this post {% endif %}
          </p>
          <!-- Truncated Article Content -->
          <p class="card-text">
            {{ article.content|truncatewords_html:50|safe }}
          </p>
          <!-- Read More Button Link -->
          <a
            href="{% url 'detail_article' article.id %}"
            class="btn btn-primary"
            >Read more</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- End of Main Content Container -->
{% endblock content %}
