{% extends 'blog/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1>Update Profile Picture</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.profile_picture.id_for_label }}" class="form-label fw-bold" style="color: #007bff;"><ion-icon name="image-outline"></ion-icon></label>
                {{ form.profile_picture }}
                <!-- Ajoutez cette balise input pour permettre à l'utilisateur de sélectionner une photo depuis son ordinateur -->
                <input type="file" name="{{ form.profile_picture.name }}" id="{{ form.profile_picture.id_for_label }}" class="form-control" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
{% endblock %}