{% extends 'blog/base.html' %} {% load static %} {% block content %}
<!-- User Profile Information -->
<div class="container mt-5">
  <h1 class="mb-4 text-center">User Profile</h1>

  <!-- Row for Profile Picture and User Information -->
  <div class="row justify-content-center align-items-center">
    <!-- Profile Picture Section -->
    <div class="col-md-4 text-center">
      {% if request.user.userprofile.profile_picture and
      request.user.userprofile.profile_picture.url %}
      <!-- Display User's Profile Picture -->
      <img
        src="{{ request.user.userprofile.profile_picture.url }}"
        alt="{{ user.username }}"
        class="user-profile-image img-fluid rounded-circle border border-primary shadow-lg"
        style="max-width: 150px; max-height: 150px; object-fit: cover"
      />
      {% else %}
      <!-- Display Default Profile Picture if None is Provided -->
      <img
        src="{% static 'picture_defaut/defaut.png' %}"
        alt="{{ user.username }}"
        class="user-profile-image img-fluid rounded-circle border border-primary shadow-lg"
        style="max-width: 150px; max-height: 150px; object-fit: cover"
      />
      {% endif %}
    </div>

    <!-- User Information Section -->
    <div class="col-md-8">
      <!-- List Group for User Information -->
      <ul class="list-group list-group-flush">
        <!-- Display User's Username -->
        <li class="list-group-item border-bottom border-primary">
          <strong>Username:</strong> {{ user.username }}
        </li>
        <!-- Display User's Email -->
        <li class="list-group-item border-bottom border-primary">
          <strong>Email:</strong> {{ user.email }}
        </li>
        <!-- Display User's Bio if Available -->
        {% if user_profile.bio %}
        <li class="list-group-item">
          <strong>Bio:</strong> {{ user_profile.bio }}
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

  <!-- Update Username and Profile Picture Buttons -->
  <div class="mt-4 text-center">
    <!-- Button to Update Username -->
    <a href="{% url 'update_username' %}" class="btn btn-primary me-2"
      >Update Username</a
    >
    <!-- Button to Update Profile Picture -->
    <a href="{% url 'update_profile_picture' %}" class="btn btn-primary"
      >Update Profile Picture</a
    >
  </div>
</div>
{% endblock %}
